apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8
  labels:
    app: k8
spec:
  replicas: 5
  selector:
    matchLabels:
      app: k8
  template:
    metadata:
      labels:
        app: k8

    spec:
      containers:
        - name: k8
          image: jordantanaliga100/k8:1.0.2
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "412Mi"
          readinessProbe:
            httpGet:
              path: /readyz
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20
