{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": ["*.html", "legacy/**/*.js"],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "useTabs": false
}
